{% extends 'base.html' %}
{% block content %}
{% load static %}

<section id="resume" class="resume">
    <div class="container">

      <div class="section-title">
        <h2>Resume</h2>
        <p> <b>A results-driven IT professional and data analyst with 10 years of experience in data analysis, reporting, and database management. Proficient in SQL, Python, Pandas, PowerBI and DAX with a strong understanding of statistical analysis and data visualization techniques. Proven track record of collaborating with cross-functional teams to identify business needs and deliver data-driven insights that optimize operations and drive growth. Passionate about leveraging technology to solve complex problems and improve business outcomes.</b></p>
      </div>

      <div class="row">
        <div class="col-lg-6" data-aos="fade-up">
          <h3 class="resume-title">Sumary</h3>
          <div class="resume-item pb-0">
            <h4>MD. Abul Bashar</h4>
            <p><em>Experienced and highly skilled IT professional with 5 years of experience in data analysis, reporting, and database management. Proficient in SQL, Python, and Power BI.</em></p>
            <ul>
              <li>Working now at- <b> HMBR Tools & Chemicals Ltd </b></li>
              <li>Address: Mirer Bazar, Pubail, Gazipur </li>
              <li>web: www.hmbr.com.bd</li>
            </ul>
          </div>

          <h3 class="resume-title">Education</h3>

          <div class="resume-item">
            <h4>Bachelor in Science </h4>
            <h5>2007 - 2011</h5>
            <p><em>International University of Business , Aggriculture and Technology (IUBAT)</em></p>
            <p><em>Major: Computer Science</em></p>
            <p><em>CGPA- 2.8  out of 4</em></p>
          </div>

          {% comment %} <div class="resume-item">
            <h4> Higher Secodary Certificate </h4>
            <h5>2005 - 2007</h5>
            <p><em>Bhawal Badre Alam Govt College </em></p>
            <p><em>Major: Science</em></p>
            <p><em>CGPA- 3.19 out of 5 </em></p>
          </div> {% endcomment %}

          <h3 class="resume-title">Professional Certificate</h3>

          {% comment %} <div class="resume-item">
            <h4> Google Certified IT Professional </h4>
            <h5>December 2022 - March 2023</h5>
            <p><em> From- Coursera (Online) </em></p>
          </div> {% endcomment %}

          {% comment %} <div class="resume-item">
            <h4> Google Certified IT Automation With Python Professional  </h4>
            <h5>December 2022 - March 2023</h5>
            <p><em> From- Coursera (Online) </em></p>
          </div>
           {% endcomment %}

          <div class="resume-item">
            <h4> IBM Certified Data Analyst  </h4>
            <h5>August 2023 -</h5>
            <p><em> From- Coursera (Online) (Running) </em></p>
          </div>

          {% comment %} <div class="resume-item">
            <h4> Google Advance Data Analysis </h4>
            <h5>September 2022 - March 2023</h5>
            <p><em> From- Coursera (Online) </em></p>
          </div> {% endcomment %}

          <div class="resume-item">
            <h4> Cisco Certified Network Professional (CCNA)  </h4>
            <h5>May-2023 - July 2023</h5>
            <p><em> From- CSL Training (Offline) </em></p>
          </div>

          {% comment %} <div class="resume-item">
            <h4> Mikrotik Certified Network Professional (MTCNA)  </h4>
            <h5>December 2022 - March 2023</h5>
            <p><em> From- CSL Training (Offline) </em></p>
            <p><em> Running </em></p>
          </div> {% endcomment %}




        </div>
        <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
          <h3 class="resume-title">Professional Experience</h3>
          <div class="resume-item">
            <h4>IT Executive and Data Analyst</h4>
            <h5>2019 - Present</h5>
            <p><em><b> HMBR Tools and chemicals Ltd </b></em></p>
            <ul>
              <li>Analyzed data to extract meaningful insights, enabling precise decision-making by management.</li>
              <li>Developed automation scripts using Python and other tools to streamline business processes</li>
              <li>Scrape Data from various source such as Api, Website and write powerful Automation script using python</li>
              <li>Visualized and presented data using Power BI, Matplotlib, Seaborn and other visualization tools</li>
              <li>Troubleshot network-related issues, user problems, and maintained CCTV and biometric devices</li>
              <li>Managed all cloud servers, ensuring maximum uptime and availability</li>
              <li>Managed IT inventory, ensuring all hardware and software assets are up-to-date and accounted for</li>
              <li>Maintained system security, performed regular backups, and disaster recovery tests</li>
              <li>Collaborated with cross-functional teams to implement IT solutions that meet business requirements</li>
              <li>Conducted training sessions for employees on IT-related topics to improve their technical skills</li>
            </ul>
          </div>
          <div class="resume-item">
            <h4>Specialization</h4>


            <div class="row">
              <div class="col-6">Python</div>
              <div class="col-6">
                <div class="progress">
                  <div class="progress-bar bg-success progress-bar-striped progress-bar-animated" role="progressbar" style="width: 85%;" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
              </div>
            </div>
            
            <div class="row">
              <div class="col-6">Django</div>
              <div class="col-6">
                <div class="progress">
                  <div class="progress-bar bg-warning progress-bar-striped progress-bar-animated" role="progressbar" style="width: 78%;" aria-valuenow="78" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
              </div>
            </div>
            
            <div class="row">
              <div class="col-6">SQL</div>
              <div class="col-6">
                <div class="progress">
                  <div class="progress-bar bg-info progress-bar-striped progress-bar-animated" role="progressbar" style="width: 80%;" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
              </div>
            </div>
            
            <div class="row">
              <div class="col-6">Pandas</div>
              <div class="col-6">
                <div class="progress">
                  <div class="progress-bar bg-danger progress-bar-striped progress-bar-animated" role="progressbar" style="width: 80%;" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
              </div>
            </div>
            
            <div class="row">
              <div class="col-6">Power BI</div>
              <div class="col-6">
                <div class="progress">
                  <div class="progress-bar bg-primary progress-bar-striped progress-bar-animated" role="progressbar" style="width: 76%;" aria-valuenow="76" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
              </div>
            </div>
            
            <div class="row">
              <div class="col-6">Other Analysing Tools</div>
              <div class="col-6">
                <div class="progress">
                  <div class="progress-bar bg-info progress-bar-striped progress-bar-animated" role="progressbar" style="width: 80%;" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-6">Network Troubleshooting</div>
              <div class="col-6">
                <div class="progress">
                  <div class="progress-bar bg-secondary progress-bar-striped progress-bar-animated" role="progressbar" style="width: 85%;" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
              </div>
            </div>
            
            <div class="row">
              <div class="col-6">Hardware Troubleshooting</div>
              <div class="col-6">
                <div class="progress">
                  <div class="progress-bar bg-dark progress-bar-striped progress-bar-animated" role="progressbar" style="width: 80%;" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>

    </div>
  </section>

{% endblock %}